[submodule "ext/dumb/dumb-git"]
	path = ext/dumb/dumb-git
	url = git://github.com/kode54/dumb.git
[submodule "ext/gme/Game_Music_Emu-git"]
	path = ext/gme/Game_Music_Emu-git
	url = git://github.com/kode54/Game_Music_Emu.git
